#app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2C2D6;
}

#app-container {
  border: 2px solid black;
  height: 530px;
  width: 730px;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}